@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=PT+Sans+Caption:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 430px;
  height: 430px;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  background: rgba(12, 37, 61, 0.95);
}

.content {
  padding: 14px 15px 13px;
}

.title {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.result {
  padding: 9px 0 45px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 0.9;
  font-size: 45px;
  color: #8275ff;
}

.line {
  width: 100px;
  height: 1px;
  background: #fff;
}

.input input {
  height: 45px;
  border-radius: 10px;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 0.9;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.95);
}

.input1 input {
  margin: 9px 0 0 0;
}

.buttons button {
  margin: 15px 1px;
  height: 35px;
  padding: 0 20px;
  background: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 18px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.buttons button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.buttons button:active {
  background: rgba(255, 255, 255, 0.4);
}

.buttons button:last-child {
  margin: 15px 8px;
}